@import '_var.scss';

.btn{
    transition: all 0.5s ease;
    width: 100px;;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
     margin: auto;
    background-color: $main-color;
    a{
        font-size: 12px;
    }
        
}
h4{
    font-family: 'Dancing Script', cursive;
}