
@import '_var.scss';
@import 'font.scss';
@import 'common.scss';
@import 'mixing.scss';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
}
.navbar{
  span{
    i{
      visibility: hidden;
    }
  }
}
.carousel-item {

  background: no-repeat center center scroll;
  background-size: cover;
  width: 100%;
height: 100vh;
 
}
.navbar{
   
    background-color:transparent;
    padding: 15px;
    display: flex;
  

   
}
.navbar-nav {
    .nav-item{ padding: 12px;
    .nav-link{
        
        color: white;
        font-weight: 400;
        font-size: 15px;

        letter-spacing: 0.7px;
        &:hover{
            color: $main-color;
        }
       
   
    }
}}
.navbar-toggler
{
  background-color: white;
}

  .sub-menu{
    background-color:black;
    height: auto;
    width: 170px;
    margin-top:15px ;
    position: absolute;
    transition: all 0.7s ease;
    visibility: hidden;
    
    opacity: 0;
     ul{
      display: block;
    
      li{
        list-style: none;  padding: 10px 10px;
        a{
          text-decoration: none;
          font-size: 16px;
          padding: 20px 0px;
          line-height: 2rem;
          color: white;
          &:hover{
            color: red;
          }
        }
      }
    }
    }

hr{
  color: grey;
  padding:2px 0px;
  margin:5px 0px;
  width: 100%;
  size: 2px;
  height: 3px;
}
.nav-item:hover .sub-menu{
  visibility: visible;
  opacity: 1;
}
.navbar-toggler
{
  border: none;
}

.w-100
{
  height:100vh;
}
.carousel-caption {
    bottom: 220px;
  }
  
  .carousel-caption h5 {
    font-size: 45px;
    letter-spacing: 2px;
    margin-top: 25px;
    letter-spacing: 7px;
    
    font-family: 'Dancing Script', cursive;
  }
  
  .carousel-caption p {
    margin: auto;
    font-size: 15px;
    line-height: 3rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 200;
  }
  .btn-ban{
      @include btn;
      border-radius: 25px;

  }
  .over{
     background: white;
     height: 100px;
     
  }
  .arrow {
  
    width: 35px;
    height: 35px;
    background-color: pink;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    line-height: 35px;
    text-align: center;
    transition: 0.3s ease;
    i {
      color: black;
    }
  }
  .fixed {
    position: fixed;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 90px;
    background: pink !important;
    z-index: 999;
    transition: 0.9s ease-in-out;
    padding: 20px;
    
  }

@media(max-width:990px)
{
  .navbar{
    background-color: transparent;
    padding: 0px;
    
  }
  .w-100
{
  height:75vh;
}
  
  // .nav-item:hover .sub-menu{
  //  display: none;
  // }
  .sub-menu{
    background-color: grey;
    overflow: hidden;
    ul{
    li{
      padding: 0px;
    line-height: 0px;
    a{
      color: red;
    }}
 
  }
  }
  .fixed{
    display: none;
  }
}
.navbar-nav {
  .nav-item{ padding: 5px;}}
  .nav-item:hover .sub-menu{

    visibility: visible;
    opacity: 1;
  }

//---------------------------what-the-say-------------------------------//@at-root

#say
{
   .left{
       background-color: white;
      
       img{
           width: 100%;
           background-size: cover;
           
           
       }
   }

         .right{padding: 150px 80px;
            
             background-color: white;
             h1{
                 color: black;
                 font-weight: 400;
                
             }
             
             hr{
                 size: 20px;
                 width: 100px;
                background-color: yellow;
             }
             p{
                 font-size: 22 px;
                 color: black;
                 padding: 40px 0px;
                 line-height: 2rem;
             }
            
         }
              
}
.para
{
    background: linear-gradient(rgba(245, 144, 228, 0.6),rgba(196, 88, 155, 0.6)),   url(../img/silder22.jpg);
    background-size: cover;
width: 100%;
height: 70vh;
.service
{ color: white;

    h4{
        padding-top: 120px;}
       
    }
    .text
    {
        font-size: 35px;
        font-weight: 400;
        letter-spacing: 2px;
        padding: 40px;
        span{
            color: #50094d;
            
        }
    }

}.lob{
  padding: 20px 30px;
}
.card-services{
  border: 2px solid pink;
  img{
    height: 300px;
    width: 100%;
  }
}
//--------sidenav----------//

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:	pink;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
 a {padding: 0px 40px;
  
  text-decoration: none;
  font-size: 20px;
  color:black !important;
  display: block;
  transition: 0.3s;
  letter-spacing: 1px;
 &:hover {
  color:grey !important;
}
i{
  float: right;

font-size:5px;

&:hover{
  background-color:pink ;
  clip-path: circle();
}
}
}
h6{
  color: black;
  text-align: center;
  font-size: 20px;
}
hr{
  
  margin: 13px 0px;
  color: white;
  size: 1px;
}


 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
  clip-path: circle(1rem);
  background-color:light-coral;
  
  &:hover{
    background-color:white ;
  }
  
}
 }


//================appointment======================//
.appoin{
    background-color:$main-color;
    padding: 40px ;
    .us
    {
            h4{font-weight: 400;
            font-size: 22px;}
            letter-spacing: 2px;
        
            color: white;
   
    .btn-4{
        height: auto;
        width: 250px;
        border: 2px solid white;
    }
}}
//----------end-----------------------------------------//
.vidd 
{
    min-width: 100%;
    min-height: 100%;
    position: relative;
  
    video{
        background-size: cover;
        width: 100%;
        object-fit: cover;position: relative;
    }
   
     
    }


.guess
{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top:0px ;padding:70px;
  img{
    height: 160px;
    width: 90px;
    padding-top: 70px;
    align-items: center;
  }
  h4{
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
  
  }
  p{
    color: white;
    letter-spacing: 2px;
    line-height: 2rem;
    padding: 20px 0px;
    font-size: 20px;
  }


}

.overlay{
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
    position: absolute;
    height: 100%;
    
    
}

//=======================services========================================//
#services{
   padding: 100px 0px;
    background: #ebebeb;
    h4{
        text-align: center;
        color: black;
        padding: 40px 0px;
    }
    
    
}
// .card 
// {border: 2px solid pink;
//   border-radius: 80px 0 80px 0;
//   margin: 20px;
    
//     img{
//     margin: auto;
//     width: 100%;
//     height:45vh;
//     border-radius: 80px 0 0px 0;
// }
// }
.btn-5{
    width: 100px;   
}

// .card-body
// {
//     background-color: #f5e1d3;
//     padding: 20px 40px;
//     border-radius: 80px 0 80px 0;
//     a{
//         font-size: 15px;
//             }
// }
// .card-text{
//     padding: 10px 0px;
// }
// .card:before{
    
//     color: white;
//     border-radius: 3px;
//     padding: 2px;
//     background: rgb(161, 92, 92);
//     position: absolute;
//     top:10px;
//     left: 10px;
//     font-size: 13px;
   
// }
// .card:after{
   
//    color: black;
//    border-radius: 3px;
//    padding: 2px;
//    background: rgba(224, 222, 222, 0.856);
//    position: absolute;
//    top:10px;
//    right: 10px;
//    font-size: 13px;
// }


// .card:hover{
//    box-shadow:0 0 10px rgba(0,0,0,.5);
// }
//-------------------footer================================// 
footer {
    background-color:#50094d;
    padding: 40px 0px 0 0;
    letter-spacing: 1px;
    
    .social-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      img {
        font-size: 40px;
        margin-bottom: 45px;
        transition: all ease 0.3s;
        &:hover {
          transform: scale(1.3);
        }
      }
      .social-links {
        display: flex;
        width: 80%;
        margin: auto;
        a {
          width: 30px;
          height: 30px;
          text-align: center;
          text-decoration: none;
          color: $white;
          font-weight: bold;
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
          margin: 0 6px;
          border-radius: 50%;
          border: 1px solid white;
          position: relative;
          overflow: hidden;
          transition: transform 0.5s;
          &::after {
            content: "";
            width: 110%;
            height: 110%;
            top: -80px;
            left: -0px;
            background: #000;
            background: blue;
            position: absolute;
            transition: 0.5s;
          }
          &:hover::after {
            top: 0;
          }
          &:hover {
            transform: translateY(-10px);
            .fab {
              color: #fff;
            }
          }
          .fab {
            font-size: 16px;
            line-height: 30px;
            position: relative;
            z-index: 10;
            transition: color 0.5s;
          }
        }
      }
    }
    p {
      color: $white;
      font-size: 14px;
      text-align: start;
    }
    .quick-links {
      h4 {
        color: $fot1;
        
        font-weight: 500;
        font-size: 20px;
      }
      hr{
       
        margin: 2px;
      }
      ul {
      
        li {
          list-style: none;
          margin-top: 10px;
          a {
            text-decoration: none;
            color: $white;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
    @media (max-width: 1000px) {
      .footer-m {
        margin-top: 10px;
      }
    }
    @media (max-width: 480px) {
      .social-links {
        width: 100%;
      }
    }
    .bottom-menu {padding: 15px 0px;
      li {
        a {
          text-decoration: none;
          font-size: 14px;
          letter-spacing: 1px;
          color: $white;
          transition: 00.3s ease-in-out;
          padding:0px 10px;
          &:hover {
            color: red;
          }
        }
      }
    }
    .copyright-text {padding: 15px 0px;
      font-size: 12px;
      letter-spacing: 1px;
      transition: 00.3s ease-in-out;
      &:hover {
        color: red;
      }
    }
  }

  //=============services.html===============================//
  .offers{
    background:url(../img/safety.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 140px;
    h3{
      color: #fff;
      
      }
     p{
       color: $main-color;
       letter-spacing: 1px;
       font-size: 20px;
     }
  }

#main{
  padding: 70px 0px ;
}


  .card-serv{
    border: 2px solid pink;
    margin: 10px;
  }
  .card-serv-img-top 
  {
    width: 150px;
    clip-path: circle();
    align-items: center;
    margin: 0;
  }
  .card-serv-body
  {
    padding: 20px 0px;
    ul{
      display: block;
      padding: 50px;
      li{
        list-style-type: none;
        line-height: 3rem;
        text-align: left;
        span{
          color: $main-color;
          font-weight:900;
          a{
            font-size: 12px;
          }
        }
       a { text-decoration: none;
        color: #000;
        letter-spacing: 1px;
        font-weight: 100;
        font-size: 13px;

        }

      }
    }
  }
.btn-7
{
  width: 180px;
}
  

//=====================ABOUT US.html==============================//
.attend{
  background:url(../img/safety.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 140px;
  h3{
    color: #fff;
    
    }
   p{
     color: $main-color;
     letter-spacing: 1px;
     font-size: 20px;
   }
}

#we
{
  background-color: #ebebeb;
   .lefts{
       background-color: white;
      
       img{
           width: 100%;
           background-size: cover;
           
           
       }
   }

         .rights{padding: 150px 80px;
            
             background-color: #ebebeb;
             h1{
                 color: black;
                 font-weight: 400;
                
             }
             
             hr{
                 size: 20px;
                 width: 100px;
                background-color: yellow;
             }
             p{
                 font-size: 22 px;
                 color: black;
                 padding: 40px 0px;
                 line-height: 2rem;
             }
            
         }
              
}

#we1
{
  background-color: #ebebeb;
   .left-side{padding: 150px 80px;
            
    background-color: #ebebeb;
    h1{
        color: black;
        font-weight: 400;
        padding: 40px 0px;
       
    }

   }

         .right-side{
             background-color: white;
      
             img{
                 width: 100%;
                 background-size: cover;
                 
                 
             }





             
             hr{
                 size: 20px;
                 width: 100px;
                background-color: yellow;
             }
             p{
                 font-size: 22 px;
                 color: black;
                 padding: 40px 0px;
                 line-height: 2rem;
             }
            
         }
              
}





.team
{padding: 50px 0px;
  h1{
    padding:20px 0px;
  
  
}
.box{padding: 60px 20px;}
}
//-------------------news.html--------------------------//
.news{
  background:url(../img/safety.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 140px;
  h3{
    color: #fff;
    
    }
   p{
     color: $main-color;
     letter-spacing: 1px;
     font-size: 20px;
   }
}

.news-more
{
  padding: 40px 20px;
  text-align: center;
  
  
}
.right-image{width: 100%;
  position: relative;
  margin: 10px;

 

img
{
  background-size: cover;
  width: 100%;
  height:100%;
  margin: auto;
  position: relative;
  
}}
.overlay1{
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
  position: absolute;
  height: 100%;
  visibility: hidden;

  
}
.hr{
  height: 10px;
  color: yellow;
  width: 100px;
}


.content-news
{
  padding: 140px 20px;
  text-align: left;
 

  .content1-news{
    padding: 30px 0px;
    padding-right: 10px;
    ul{
      display: block;
      margin: 0px;
      padding: 0px;
      li{
        list-style-type: none;
        line-height: 2rem;
     
        a{
          text-decoration: none;
          letter-spacing: 1px;
          color: black;
          &:hover{
            color: red;
          
            
          }

          
        }
      }
    }
  }

}
.about-news
{
  padding: 50px 0px;
  padding-right: 20px;
  text-align: left;
  .content2-news
  {
    padding: 20px 0px;
  }
}
.right-image:hover .overlay1{
  visibility: visible;
  opacity: 1;

}
.mores{
  padding-top: 150px;
  a{
    color:pink;
    text-decoration: none;
   
  }
  
 
}






//==========================contactus.html==================================//
.contact
{
  background:url(../img/safety.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 140px;
  h3{
    color: #fff;
    
    }
   p{
     color: $main-color;
     letter-spacing: 1px;
     font-size: 20px;
   }
}
.contactus{
  padding: 40px 0px ;
  h1{
    padding: 10px 0px;
  }
}
//====================form===================================//
.content1
{
  padding: 40px ;
  p{
    line-height: 2rem;
    letter-spacing: 1px;
  }
}
.form-contact
{
  max-width: 600px;
  margin: auto;
  border: 2px solid pink;
  padding: 30px 30px;
  color: grey;
  box-shadow:0 0 20px;
 
  

  .cal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    
  }
}
.btn-8
{margin-top: 20px;}
//-==========================appoinment-form=========//
.take{
  text-align: center;
  padding: 30px 0px;
  h1{
    padding: 20px 0px;
  }
}

.form-appoinment
{
  max-width:800px;
  margin: auto;
  border: 2px solid pink;
  padding: 30px 30px;
  color: grey;
  box-shadow:0 0 20px;
  overflow: hidden;
  

  .appoint-us{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    i{
      color: red;
      font-size: 7px;
      margin-bottom: 10px;
    }
   
    
  }
}
.btn-9
{margin-top: 20px;}

//===============gallery-html==========================================//

//==========================contactus.html==================================//
.gal
{
  background:url(../img/safety.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 140px;
  h3{
    color: #fff;
    
    }
   p{
     color: $main-color;
     letter-spacing: 1px;
     font-size: 20px;
   }
}

.gal-img{
  width: 100%;
  
img{
  background-size: cover;
  width: 100%;
}

}
.row
{
  --bs-gutter-x:0px;
}
//------------------------------------app.html---------------------------//

.app
{
  background:url(../img/safety.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 140px;
  h3{
    color: #fff;
    
    }
   p{
     color: $main-color;
     letter-spacing: 1px;
     font-size: 20px;
   }
}
.appoinment-service
{
  padding:50px 0px;
}
.lobster{
  padding: 40px 40px;
}
.card-appoint{
  text-align: left;
  border:2px solid pink;
  padding: 20px 20px;

  
}
.card-appoint-body
{
  padding: 15px 0px;
}
.time{
  gap: 55px;
  padding: 20px 0px;
}
//==================ladies-html=================================//
.lady
{
  background:url(../img/safety.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 140px;
  h3{
    color: #fff;
    
    }
   p{
     color: $main-color;
     letter-spacing: 1px;
     font-size: 20px;
   }
}
#haircut
{
   .left{
       background-color: white;
      
       img{
           width: 100%;
           background-size: cover;
          
          
           
           
       }
   }

         .right{padding: 150px 80px;
            
             background-color: white;
             h1{
                 color: black;
                 font-weight: 400;
                
             }
             
             hr{
                 size: 20px;
                 width: 100px;
                background-color: yellow;
             }
             p{
                 font-size: 22 px;
                 color: black;
                 padding: 40px 0px;
                 line-height: 2rem;
             }
            
         }
              
}
//============hair-treatment.html==================//
.hairs
{
  background:url(../img/safety.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 140px;
  h3{
    color: #fff;
    
    }
   p{
     color: $main-color;
     letter-spacing: 1px;
     font-size: 20px;
   }
}


#haircuts
{
   .left{
       background-color: white;
      
       img{
           width: 100%;
           background-size: cover;
          
          
           
           
       }
   }

         .right{padding: 150px 80px;
            
             background-color: white;
             h1{
                 color: black;
                 font-weight: 400;
                
             }
             
             hr{
                 size: 20px;
                 width: 100px;
                background-color: yellow;
             }
             p{
                 font-size: 22 px;
                 color: black;
                 padding: 40px 0px;
                 line-height: 2rem;
             }
            
         }
              
}
//===========make.html==========//

.makes
{
  background:url(../img/safety.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 140px;
  h3{
    color: #fff;
    
    }
   p{
     color: $main-color;
     letter-spacing: 1px;
     font-size: 20px;
   }
}


#haircut-makes
{
   .left{
       background-color: white;
      
       img{
           width: 100%;
           background-size: cover;
          
          
           
           
       }
   }

         .right{padding: 150px 80px;
            
             background-color: white;
             h1{
                 color: black;
                 font-weight: 400;
                
             }
             
             hr{
                 size: 20px;
                 width: 100px;
                background-color: yellow;
             }
             p{
                 font-size: 22 px;
                 color: black;
                 padding: 40px 0px;
                 line-height: 2rem;
             }
            
         }
              
}
//===========men.html=====================//
.mens
{
  background:url(../img/safety.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 140px;
  h3{
    color: #fff;
    
    }
   p{
     color: $main-color;
     letter-spacing: 1px;
     font-size: 20px;
   }
}


#haircut-mens
{
   .left{
       background-color: white;
      
       img{
           width: 100%;
           background-size: cover;
          
          
           
           
       }
   }

         .right{padding: 150px 80px;
            
             background-color: white;
             h1{
                 color: black;
                 font-weight: 400;
                
             }
             
             hr{
                 size: 20px;
                 width: 100px;
                background-color: yellow;
             }
             p{
                 font-size: 22 px;
                 color: black;
                 padding: 40px 0px;
                 line-height: 2rem;
             }
            
         }
              
}
//=============================ladies-special/html============================//
.special
{
  background:url(../img/safety.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 140px;
  h3{
    color: #fff;
    
    }
   p{
     color: $main-color;
     letter-spacing: 1px;
     font-size: 20px;
   }
}


#ladies-special
{
   .left{
       background-color: white;
      
       img{
           width: 100%;
           background-size: cover;
          
          
           
           
       }
   }

         .right{padding: 150px 80px;
            
             background-color: white;
             h1{
                 color: black;
                 font-weight: 400;
                
             }
             
             hr{
                 size: 20px;
                 width: 100px;
                background-color: yellow;
             }
             p{
                 font-size: 22 px;
                 color: black;
                 padding: 40px 0px;
                 line-height: 2rem;
             }
            
         }
              
}
//===================kids-special================================//
.kids
{
  background:url(../img/safety.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 140px;
  h3{
    color: #fff;
    
    }
   p{
     color: $main-color;
     letter-spacing: 1px;
     font-size: 20px;
   }
}








#kids-special
{
   .left{
       background-color: white;
      
       img{
           width: 100%;
           background-size: cover;
          
          
           
           
       }
   }

         .right{padding: 150px 80px;
            
             background-color: white;
             h1{
                 color: black;
                 font-weight: 400;
                
             }
             
             hr{
                 size: 20px;
                 width: 100px;
                background-color: yellow;
             }
             p{
                 font-size: 22 px;
                 color: black;
                 padding: 40px 0px;
                 line-height: 2rem;
             }
            
         }}
         @media(max-width:990px){
        .navbar{
          
            span{float: right ;
              
              i{
                color:black;
                font-size: 25px;
                cursor: pointer;
                visibility: visible;
               
              }
            }
          }
          .icon i{
            font-size: 5px;
          }

         }
    @media (max-width:750px)
    {
      .guess
      {
        
        padding:1px;
        img{
          height: 100px;
          width: 90px;
          padding-top: 70px;
          align-items: center;
          display: none;
        }
        h4{
          font-size: 15px;
          color: white;
          letter-spacing: 1px;
          padding-top: 10px;
        
        }
        p{
          color: white;
          letter-spacing: 1px;
          line-height: 2rem;
          padding: 10px 0px;
          font-size: 15px;
        }
      

    }}
    @media (max-width:550px)
    {

      .navbar span i {
        
        padding-right: 47px;
    }
    }